// =============================================
// Input
// =============================================

input,
button {
    font-size: 100%;
    padding: 0.5em 1em;
    border: 2px solid $light-grey;
    border-right: 0;
    background-color: $white;
    width: 100%;
    border-radius: 0;
    appearance: none;

    &:focus {
        border-color: $blue;
        outline: 0;
    }
}

// =============================================
// Input button
// =============================================

.btn {
    width: auto;
    font-weight: 700;
    background-color: $blue;
    color: $lighter-grey;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;

    &:hover {
        opacity: .6;
    }
}


// =============================================
// Label
// =============================================

label {
    display: block;
    margin-bottom: 0.5em;
}