// =============================================
// Grid
// =============================================

[class*="g-t"] {
    display: flex;
    flex-flow: wrap;
    margin-left: -1em;
    margin-right: -1em;

    @media(min-width: $screen-lg) {
        margin-left: -1.25em;
        margin-right: -1.25em;
    }

    @media(min-width: $screen-xl) {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }

    > * {
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 2em;

        @media(min-width: $screen-lg) {
            padding-left: 1.25em;
            padding-right: 1.25em;
            margin-bottom: 2.5em;
        }

        @media(min-width: $screen-xl) {
            padding-left: 1.5em;
            padding-right: 1.5em;
            margin-bottom: 3em;
            max-width: 34em;
        }
    }
}


// =============================================
// Two column
// =============================================

.g-two-up > * {
    width:100%;

    @media(min-width: $screen-sm) {
        width: 50%;
    }
}


// =============================================
// Three column
// =============================================

.g-three-up > * {
    width:100%;

    @media(min-width: $screen-sm) {
        width: 50%;
    }

    @media(min-width: $screen-lg) {
        width: 33.33%;
    }
}


// =============================================
// Center grid
// =============================================

.g-center > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
