// =============================================
// Grid
// =============================================

.g-two-up,
.g-four-up {
    display: flex;
    flex-flow: wrap;

    > * {
        width: 100%;
    }
}

.g-two-up > * {
    @media(min-width: $screen-sm) {
        width: 50%;
    }
}

.g-four-up > * {
    @media(min-width: $screen-sm) {
        width: 50%;
    }

    @media(min-width: $screen-md) {
        width: 25%;
    }
}


// =============================================
// Center grid
// =============================================

.g-center {
    align-items: center;
}


// =============================================
// Flex grid
// =============================================

.g-flex > * {
    display: flex;
    flex-flow: column;

    > * {
        flex-grow: 1;
    }
}


// =============================================
// Limit width
// =============================================

.g-limit > * {
    max-width: $screen-sm;
}


// =============================================
// Gutter
// =============================================

.g-gutter-y > * {
    margin-bottom: 4vw;
}

.g-gutter-x {
    margin-left: -2vw;
    margin-right: -2vw;

    > * {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

.g-gutter-x-lg {
    margin-left: -4vw;
    margin-right: -4vw;

    > * {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}
