// =============================================
// Grid
// =============================================

[class*="g-t"] {
    display: flex;
    flex-flow: wrap;
    margin-left: -4vw;
    margin-right: -4vw;

    > * {
        padding-left: 4vw;
        padding-right: 4vw;
        margin-bottom: 8vw;
    }
}


// =============================================
// Two column
// =============================================

.g-two-up > * {
    width:100%;

    @media(min-width: $screen-sm) {
        width: 50%;
    }
}


// =============================================
// Center grid
// =============================================

.g-center {
    align-items: center;
}


// =============================================
// Limit width
// =============================================

.g-limit > * {
    max-width: $screen-sm;
}
