// =============================================
// Masonry
// =============================================

.g-masonry {
    @media(min-width: $screen-sm) {
        column-width: 40vw;
        column-gap: 4vw;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    @media(min-width: $screen-xl) {
        column-width: 26vw;
    }

    > * {
        margin-bottom: 4vw;
        /* below fixes wrapping issues */
        display: inline-block;
        width: 100%;
    }
}
