// =============================================
// White Text
// =============================================

%t-color-white {
    color: $light-grey;

    blockquote {
        border-left-color: $light-grey;
    }

    a {
        color: $green;
    }

    h1, h2, h3,
    .h1, .h2, .h3,
    .lead,
    .logo a {
        color: $light-grey;
    }

    hr {
        border-bottom-color: $light-grey;
    }
}


// =============================================
// Black blue
// =============================================

%t-color-black {
    color: $purple;

    blockquote {
        border-left-color: $purple;
    }

    a,
    .lead,
    h1, h2, h3,
    .h1, .h2, .h3 {
        color: $purple;
    }

    hr {
        border-bottom-color: $purple;
    }

    .logo-icon {
        background-color: $purple;
    }
}
