// =============================================
// White Text
// =============================================

%t-color-white {
    color: $light-grey;

    blockquote {
        border-left-color: $light-grey;
    }

    a {
        color: $turquoise;
    }

    h1, h2, h3,
    .h1, .h2, .h3,
    .lead,
    .logo a {
        color: $light-grey;
    }

    hr {
        border-bottom-color: $light-grey;
    }
}


// =============================================
// Black blue
// =============================================

%t-color-blue {
    color: $blue;

    blockquote {
        border-left-color: $blue;
    }

    a,
    .lead,
    h1, h2, h3,
    .h1, .h2, .h3 {
        color: $blue;
    }

    hr {
        border-bottom-color: $blue;
    }
}
