// =============================================
// Typography
// =============================================

html {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $grey;
    background-color: $light-grey;
    -webkit-text-size-adjust: 100%;
    font-size: 110%;


    @media(min-width: $screen-lg) {
        font-size: 120%;
    }

    @media(min-width: $screen-xl) {
        font-size: 130%;
    }
}

::selection {
    background-color: $blue;
    color: $light-grey;
}

body {
    padding: 7vw;
}

p, ul, ol {
    margin-bottom: 1.618em;
}

pre {
    margin-bottom: 2.4em;
}


ul, ol {
    padding-left: 1em;

    @media(min-width: $screen-sm) {
        padding-left: 0;
    }

    > * {
        margin-bottom: 0.2em;
    }
}


* + p, * + ul, * + ol {
    margin-top: 1.3em;
}

blockquote {
    border-left: 3px solid $grey;
    padding-left: 1.618em;
    margin-left: 0;

    > p {
        font-family: $serif-font-family;
        font-style: italic;
    }

    @media(min-width: $screen-sm) {
        margin-left: calc(-1.618em - 3px);

        > p {
            font-size: $lg-font-size;
        }
    }
}

strong, b {
	font-weight: 600;
    color: $dark-grey;
}

em, i, cite {
    font-style: italic;
}

code {
    padding: 0.15em 0.5em;
    color: $red;
    vertical-align: text-top;
    border-radius: $border-radius;
    background-color: $white;
    border: 1px solid lighten($red, 20%);
}

pre code {
    display: block;
    padding: 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: 2px solid $grey;
    margin-top: 2.618em;
    margin-bottom: 2.618em;
}

iframe {
    width: 100%;
}


// =============================================
// Links
// =============================================

a,
%link {
    color: $blue;
    touch-action: manipulation;

    &:hover {
        opacity: 0.5;
    }

    &:focus {
        background-color: $blue;
        color: $light-grey !important;
        outline: 0.2em solid $blue;
        opacity: 1;
    }
}


// =============================================
// Lead
// =============================================

// .lead {
//     font-size: $lg-font-size;
//     color: $dark-grey;
// }


// =============================================
// Micro
// =============================================

.micro {
    font-size: $sm-font-size;
}
