// =============================================
// Container
// =============================================

.u-container {
    max-width: $screen-sm - 2em;

    &--lg {
        max-width: $screen-md - 6em;
    }

    @media(min-width: $screen-md) {
        width: 90%;
    }
}


// =============================================
// Section
// =============================================

.u-section,
%u-section {
    margin-bottom: 10vh;
}


// =============================================
// List unstyled
// =============================================

%u-list-unstyled,
.u-list-unstyled {
    padding-left: 0;
    list-style: none;
}


// =============================================
// List inline
// =============================================

%u-list-inline,
.u-list-inline {
    @extend %u-list-unstyled;

    > * {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 0;
    }
}


// =============================================
// List inline
// =============================================

%u-list-space,
.u-list-space {
    @extend %u-list-unstyled;
}


// =============================================
// Reset type
// =============================================

.u-reset-type {
    line-height: $base-line-height;
    margin-top: 0;
}


// =============================================
// Ratio
// =============================================

.u-ratio {
    position: relative;
	overflow: hidden;
    padding-top: 100%;
    background-color: $dark-grey;
    display: block;

    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


// =============================================
// Full width
// =============================================

.u-full {
    width: 100%;
}


// =============================================
// Portrait photo
// =============================================

.u-portait {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
