// =============================================
// Colour
// =============================================

$dark-grey              : #111;
$grey                   : #444;
$light-grey             : #f9f9f5;

$black                  : #000;
$white                  : #fff;

$purple                 : #340f3a;
$green                  : #4cf5a6;
$blue                   : #0f73ee;

$turquoise              : #84FFF0; // not in use
$salmon                 : #FFBCBC; // not in use
$yellow                 : #FFF667; // not in use
$red                    : #f34059; // not in use



// =============================================
// Typography
// =============================================

$base-font-size         : 100%;
$base-font-family       : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$base-line-height       : 1.618;


// =============================================
// Alternative type
// =============================================

$serif-font-family      : Georgia, Times, "Times New Roman", serif;
$lg-font-size           : 1.2em;
$sm-font-size           : 0.9em;

$border-radius          : 0.15em;


// =============================================
// Heading
// =============================================

$heading-line-height    : 1.318;

$h1-font-size           : 2em;
$h2-font-size           : 1.5em;
$h3-font-size           : 1.2em;
$h4-font-size           : 1em;


// =============================================
// Breakpoints
// =============================================

$screen-sm              : 35em; // 560
$screen-md              : 59em; // 915
$screen-lg              : 66em; // 1140
$screen-xl              : 90em; // 1574

$screen-xs-max          : $screen-sm - 0.01em;
$screen-sm-max          : $screen-md - 0.01em;
$screen-md-max          : $screen-lg - 0.01em;
$screen-lg-max          : $screen-xl - 0.01em;
