// =============================================
// Colour
// =============================================

$dark-grey              : #111;
$grey                   : #444;
$light-grey             : #f9f9f5;

$black                  : #000;
$white                  : #fff;

$purple                 : #340f3a;
$green                  : #4cf5a6;
$blue                   : #0f73ee;
$red                    : #f34059;


// =============================================
// Typography
// =============================================

$base-font-size         : 100%;
$base-font-family       : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$base-line-height       : 1.618;


// =============================================
// Alternative type
// =============================================

$serif-font-family      : Georgia, Times, "Times New Roman", serif;
$border-radius          : 0.15em;


// =============================================
// Heading
// =============================================

$heading-line-height    : 1.3;


// =============================================
// Breakpoints
// =============================================

$screen-sm              : 35em;
$screen-md              : 59em;
$screen-lg              : 66em;
$screen-xl              : 90em;

$screen-xs-max          : $screen-sm - 0.01em;
$screen-sm-max          : $screen-md - 0.01em;
$screen-md-max          : $screen-lg - 0.01em;
$screen-lg-max          : $screen-xl - 0.01em;


// =============================================
// Typescale
// =============================================

$typescale: (
	min: 1.2,
	max: 1.41
);


// =============================================
// Range for type
// =============================================

$range: (
	min: $screen-sm,
	max: $screen-xl
);


// =============================================
// Start type and set units
// =============================================

$start: (
	min: 1 / map-get($typescale, min) * 1em,
	max: 1 / map-get($typescale, max) * 1em
);