// =============================================
// Imports
// =============================================

@import "variables";
@import "theme";


// =============================================
// Home
// =============================================

.photography {
    background-color: $dark-grey;
    @extend %t-color-white;

    .logo-icon {
        background-color: $white;

        &:after {
            border-bottom-color: $dark-grey;
        }
    }
}
