@import "variables";


// =============================================
// Title
// =============================================

.title {
    *:not(:last-child) {
        margin-bottom: .1em;
    }
    *:last-child {
        margin-top: .1em;
        opacity: .6;
    }
}


// =============================================
// Project box
// =============================================

.color-box {
    text-align: center;

    * {
        color: $white;
    }

    &__body {
        width: 90%;
    }
}